<h2>ARIA Roles, States, and Properties</h2>

<h3>ARIA role mismatch</h3>
<p>
    <label><input type="checkbox" role="radio">Am I a checkbox or a radio button?</label>
</p>

<h3>ARIA state mismatch</h3>
<p>
    <label><input type="checkbox" aria-checked="true"> Am I a checked or unchecked?</label>
</p>
<h3>ARIA Pressed Buttons</h3>
<p>This example demonstrates how aria-pressed buttons work.</p>
<p><button class="toggle" aria-pressed="false">Press me</button></p>

<h3>ARIA Disclosure</h3>
<p>This example demonstrates how ARIA disclosures work.</p>
<p><button id="expander" aria-expanded="false">View Details</button></p>
<p id="expandable">Hey there! I am the details!</p>